*.o
perf.data*

*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.out

output.csv
*.mp4

seq_exh_1
seq_exh_2

omp_exh_1
omp_exh_2
omp_exh_3
omp_exh_4

mpi_exh_1
mpi_exh_2
mpi_exh_3

seq_bh_1
seq_bh_2
omp_bh
mpi_bh